parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \=\=\= between int\<1, max\> and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Console/Commands/LinguaBenchQualityCommand.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: src/Console/Commands/LinguaIntegrationTestCommand.php

		-
			message: '#^Argument of an invalid type Illuminate\\Routing\\RouteCollectionInterface supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Console/Commands/LinguaWarmCommand.php

		-
			message: '#^Argument of an invalid type Illuminate\\Routing\\RouteCollectionInterface supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Jobs/WarmAllPagesJob.php

		-
			message: '#^Strict comparison using \!\=\= between Illuminate\\Support\\Carbon and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Models/Translation.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Services/GatewayClient.php

		-
			message: '#^Offset int\<0, 1\> on array\{500000, 1000000\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Services/GatewayClient.php

		-
			message: '#^Using nullsafe method call on non\-nullable type Illuminate\\Http\\Request\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: src/Services/GatewayClient.php

		-
			message: '#^Call to an undefined method DOMNameSpaceNode\|DOMNode\:\:getAttribute\(\)\.$#'
			identifier: method.notFound
			count: 3
			path: src/Services/HtmlTranslator.php

		-
			message: '#^Call to an undefined method DOMNameSpaceNode\|DOMNode\:\:setAttribute\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/HtmlTranslator.php

		-
			message: '#^Parameter \#1 \$el of method LinguaLayer\\Services\\HtmlTranslator\:\:elementIsTranslatable\(\) expects DOMElement, DOMNameSpaceNode\|DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: src/Services/HtmlTranslator.php

		-
			message: '#^Argument of an invalid type Illuminate\\Routing\\RouteCollectionInterface supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Services/LinguaAgent.php
